<div id="nav" class="flex-c">
    <div> <a routerLink="/"> <img src="../../assets/Icons/Brand/logo.png" class="logo1" alt="Logo"></a>  </div>
    <div class="nav-items">
        <ul class="flex-c">
            <li routerLink="/chat"><i>😊</i></li>
            <li routerLink="/addContacts"><i>👨‍👩‍👧‍👦</i></li>
            <li><i>📄</i></li>
            <li><i>⚙️</i></li>
        </ul>
    </div>
    <div class="nav-items">
        <ul class="flex-c">
            <li><i>🌉</i></li>
            <li (click)="logout()"><i>📤</i></li>
            <li>
              <a routerLink="/Profile">
                <img src="../../assets/Icons/ProfilePictures/Men/man (1).png" alt="Profile Picture" class="logo">
              </a></li>
</ul>
    </div>
</div>
