<main>
  <app-navbar></app-navbar>
  <div class="home-content-container">
    <div class="home-content">
      <div class="home-introduction">
        <div class="introduction-title">
          <img src="../../../assets/Icons/Brand/logo.png" alt="logo.png" />
          <p>GigaCHAT</p>
        </div>
        <p class="introduction-content">Unleash your inner chad with GigaCHAT - the ultimate chatting app</p>
      </div>
      <div>
        <img src="../../../assets/Icons/Side-Assets/message.png" alt="message.png" class="home-message-img" />
      </div>
    </div>
  </div>
</main>
